<!DOCTYPE html>
<html>
    <%- include("./partials/head", {title: 'Editando: ' + product.name } )%>          
    <link rel="stylesheet" href="/css/style_producto-edicion.css">


    <body>
    
        <%- include("./partials/nav")%>
        
        
            <div class="editor">
        
                <p class="p-title">Corrige los campos necesarios</p>
        
                
                <img src="/img/products/<%= product.image %>" class="img">
        
        
               
                <div class="prod-edit-text">         
            
                 <form class ="editar_producto" action="/products/<%= product.id %>?_method=PUT" method="POST"></form>
        
                    <div class="form-container">
                        <label for="name">Nombre del producto</label>
                        <input type="text" id="name" name="name"  value="<%= product.name %>">                       
                     </div>           
        
                     <div class="form-container">
                        <label for="name">Categoria</label>             
                            
                            <select name="categoria" id ="category"class="cat-op">        
                                <option>Hombre</option>                        
                                <option>Mujer</option>                        
                                <option>Niños</option>
                                <option>Accesorios</option>                        
                            </select>        
                     </div>
        
                     <div class="form-container">
                        <label for="name">Precio</label>
                        <input type="text" id="price" name="price" value="$<%= product.price %>">
                     </div>
        
                     <div class="form-container">
                        <label for="name">Descuento</label>
                        <input type="text" id="discount" name="discount" value="<%= product.discount %> %OFF">
                     </div>
        
                     <div class="form-container">
                        <label for="name">Descripcion del producto</label>
                        <input type="text" id="description" name="description" value="<%= product.description %>">
                     </div>
        
                     <div class="form-container">
                     <button class="editar" type="submit"> Guardar Cambios</button>
                    </div>
        
                </form>
        
            </div>
        </div>
    </body>
</html>